# Ignore node_modules folders in all directories
**/node_modules

# Ignore build artifacts
build/
dist/
*.log
*.pid

# Ignore IDE/Editor files
.vscode/
.idea/
*.iml

# Ignore .env files
.env

# Ignore yarn.lock files in all directories
**/yarn.lock

# Ignore .DS_Store files on Mac
.DS_Store

# Ignore test coverage reports
coverage/

# Ignore generated documentation
docs/

