@use './variables' as var;

*, *:before, *:after {
  box-sizing: border-box;
  line-height: var.$line-height-base;
}

:root {
  font-family: 'Open Sans', sans-serif;
}

html {
  background-color: white;
  font-family: var.$font-family;
}

body {
  font-size: var.$font-size-base;
}
