@use '@/styles/variables' as var;

.emptyCart {
  font-size: var.$font-size-xxl;
  text-align: center;
  margin-top: var.$space-md;
}

.continueShoppingBtn, .checkoutBtn{
  font-size: var.$font-size-lg;
  display: block;
  margin: var.$space-md auto;
  padding: var.$space-xs var.$space-md;
  border-radius: var.$border-radius;
  border: none;
  background-color: var.$clr-blue-100;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.025);
  }
}
