@use '@/styles/variables' as var;

.productCard {
  border: 1px solid var.$clr-gray-300;
  max-width: 400px;
  padding: var.$space-sm;
  display: flex;
  flex-direction: column;
  gap: var.$space-md;
  background-color: var.$clr-gray-200;
  border-radius: var.$border-radius;
  margin: var.$space-sm 0;

  img {
    display: block;
    margin: 0 auto;
    border-radius: var.$border-radius;
  }

  a {
    text-decoration: none;
  }
}

.productName {
  font-size: var.$font-size-lg;
  font-weight: 700;
}

.productPrice {
  font-size: var.$font-size-lg;
  font-weight: 700;
  text-align: center;

  &::before {
    content: "$";
  }
}

.addToCardButton {
  border: none;
  border-radius: var.$border-radius;
  padding: var.$space-sm var.$space-md;
  background-color: var.$clr-blue-100;
}
