@use '@/styles/variables' as var;

.productCard {
  width: 400px;
  padding: var.$space-sm;
  border-radius: var.$border-radius;
  margin: var.$space-sm;
  transition: all 0.175s ease-in-out;
  display: flex;
  flex-direction: column;

  &:hover {
    background-color: var.$clr-gray-200;
    cursor: pointer;

    img {
      transform: scale(1.1);
    }
  }

  .productCardLink {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
  }

  img {
    display: block;
    margin: 0 auto var.$space-md;
    border-radius: var.$border-radius;
    transition: all 0.175s ease-in-out;
  }
}

.productName {
  font-size: var.$font-size-lg;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: calc(var.$font-size-lg * 2 * 1.5);
  margin-bottom: var.$space-sm;
  font-weight: 700;
}

.productPrice {
  font-size: var.$font-size-lg;
  font-weight: 700;

  &::before {
    content: '$';
  }
}

.addToCardButton {
  border: none;
  border-radius: var.$border-radius;
  padding: var.$space-sm var.$space-sm;
  background-color: var.$clr-blue-100;
  margin-top: auto;
  z-index: 2;

  &:hover {
    cursor: pointer;
  }
}
