@use '@/styles/variables' as var;

.cartItem {
  display: flex;
  align-items: center;
  padding: var.$space-sm;
  border-top: 1px solid var.$clr-gray-300;

  &:last-of-type {
    border-bottom: 1px solid var.$clr-gray-300;
  }

  .productCheckbox {
    transform: scale(1.2);
  }

  .productName {
    font-size: var.$font-size-md;
    font-weight: 400;
  }

  .price {
    font-size: var.$font-size-md;
    font-weight: 700;

    &::before {
    content: '$';
    }
  }

  .inStock {
    font-size: var.$font-size-sm;
    color: var.$clr-blue-200;
  }
}

.cartItemInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .cartItemQuantity {
    max-width: 50px;
  }

  .cartItemInputContainer {
    display: flex;
    align-items: center;
    gap: var.$space-xs;
  }
}
